*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: $primary-font-family;
    color: $color-white;
    font-weight: 500;
    line-height: 1.65;
}

a {
    text-decoration: none;
}