.hero {
    &__heading {
        font-family: $secondary-font-family;
        font-weight: 400;
        letter-spacing: 1px;
        font-size: 4.2rem;
        line-height: 1;
        text-shadow: 0 .4rem 1.5rem rgba($color-black, 0.5);
    }
    &__subheading {
        text-transform: uppercase;
        font-size: 8rem;
        display: block;
        letter-spacing: 4px;
    }
    &__underline {
        background-color: $primary-color;
        border: .7rem solid $primary-color;
        width: 9rem;
        margin-top: -.7rem;
    }
    &__description {
        width: 70%;
        line-height: 1.7;
        font-weight: 500;
        font-size: 1.7rem;
        text-shadow: 0 .4rem 1rem rgba($color-black, 0.8);
    }
}

.primary-heading {
    position: relative;
    display: block;
    width: 100%;
    font-family: $secondary-font-family;
    font-weight: 400;

    &__main {
        display: block;
        font-size: 6rem;
        font-style: italic;
        letter-spacing: 1px;

        &--center {
            text-align: center;
        }
    }

    &__background {
        display: block;
        color: rgba($color-white, 0.1);
        font-size: 8rem;
        position: absolute;
        top: -44%;
        left: 5rem;

        &--center {
            width: 100%;
            left: 0;
            text-align: center;
        }
    }

    &__underline {
        width: 13rem;
        background-color: rgba($color-white, 0.05);
        border: .8rem solid rgba($color-white, 0);
        margin-top: -3rem;
    }
}

.text {
    font-size: 1.6rem;
    line-height: 1.8;

    &--big {
        font-size: 1.7rem;
        line-height: 1.9;
    }
}

.services {
    &__card-header {
        &--right > * {
            text-align: right;
        }
    }

    &__card-number {
        font-size: 3.3rem;
        font-weight: 700;
        color: $primary-color;
        line-height: 1.3;
        display: block;
    }

    &__card-heading {
        font-size: 3.5rem;
        line-height: 1;
        font-weight: 400;
        font-family: $secondary-font-family;
    }
}

.menu {
    &__card-heading {
        font-size: 1.7rem;
        font-weight: 400;
        line-height: 1.2;   
        letter-spacing: .5px;
    }

    &__card-weight {
        font-size: 1.5rem;
        color: $color-grey;
    }

    &__card-price {
        font-size: 1.7rem;
    }
}