$primary-color: #ff703b;
$primary-background-color: #0f0f0f;
$color-white: #ffffff;
$color-white-transparent: rgba(255, 255, 255, 0.15);
$color-black: #000000;
$color-grey: #d4d4d4;

$primary-font-family: 'Raleway', sans-serif;
$secondary-font-family: 'Amiri', serif;

$grid-max-width: 114rem;