.hero {
    width: 100%;
    height: 100vh;
    background-image: url("../assets/images/hero-bg.png");
    background-size: cover;
    background-position: center top;
    position: relative;
    
    &__content {
        width: $grid-max-width;
        position: absolute;
        padding: 0 1rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -47%);
    }
}

.story {
    padding: 12rem 0;
    grid-gap: 5rem !important;

    &__left {
        padding-right: 2rem;
    
        img {
            width: 100%;
            display: block;
        }
    }

    &__right {
        padding: 0;
    }
}

.services {
    background-image: url("../assets/images/best-services-bg.png");
    background-size: cover;
    background-position: top center;
    padding: 12rem 0rem;

    &__card {
        &:not(:last-child) {
            margin-bottom: 6rem;
        }
        &--left {
            border-left: 4px solid $primary-color;
            padding: 0 0 0 1.5rem;
        }
        &--right {
            border-right: 4px solid $primary-color;
            padding: 0 1.5rem 0 0;
        }
    }

    &__card-header {
        align-self: end;
        &--left {
            justify-self: start;
        }
        &--right {
            justify-self: end;
        }
    }
}

.menu {
    background-image: url('../assets/images/menu-bg.png');
    background-position: center center;
    padding: 12rem 0;

    &__content {
        grid-column-gap: 8rem;
        grid-template-rows: min-content;
    }

    &__nav {
        list-style-type: none;
    }

    &__nav-item {
        font-size: 1.8rem;
        padding: 5px 0 5px 10px;
        color: white;
        font-weight: 500;
        line-height: 1;
        cursor: pointer;

        &:not(:last-child) {
            margin-bottom: 2.5rem;
        }

        &--active {
            color: $primary-color;
            margin-left: -3px;
            border-left: 3px solid $primary-color;
        }
    }

    &__carousel-buttons {
        grid-column: 2 / span 11;
    }

    
    &__deck {
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 55vh;
        grid-gap: 5rem;
        transform: .2s all;
    }

    &__card {
        background-color: rgba(#8c8c8c, .3);
        backdrop-filter: blur(10px);
        box-shadow: 3px 3px 10px rgba($color-black, 0.5);
        border-radius: 1rem;
        cursor: pointer;
        transition: 0.2s all;

        &:hover {
            transform: scale(1.02) translateY(-.5rem);
        }
    }

    &__card-img {
        height: 47%;
        border-radius: 1rem 1rem 0 3rem;
        overflow: hidden;
        position: relative;

            img {
                width: 100%;
                @include absCenterY;
            }
    }

    &__card-content {
        padding: 2rem;
        height: 53%;
        display: grid;
        grid-template-rows: auto, repeat(2, 1fr);
        align-self: start;
    }

    &__card-price-n-btn-container {
        display: flex;
        justify-content: space-between;
        align-self: end;
        align-items: center;
    }
}

.reservation {
    padding: 12rem 0;

    &__content {
        padding: 5rem 0 0 0;
        max-width: $grid-max-width;
        margin: 0 auto;
    }

    &__form {
        grid-gap: 8rem 5rem;
        position: relative;
    }

    &__form-input {
        width: 100%;
        padding: 1rem .5rem;
        background-color: transparent;
        border: none;
        border-bottom: 3px solid $primary-color;
        color: rgba($color-black, 0.7);
        font-size: 1.8rem;
        font-weight: 400;
        font-family: $primary-font-family;
        z-index: -1;

        &:focus {
            outline: none;
            color: #fff;
        }
    }

    &__form-input-carot {
        position: absolute;
        width: 4rem;
        display: block;
        right: 0rem;
        @include absCenterY;
    }
}

.contact {
    padding: 12rem 0;
    background-image: url("../assets/images/contact-bg.png");
    background-position: center;

    &__content {
        grid-gap: 6rem 8rem;
        grid-template-rows: auto, repeat(2, 1fr);

        h3 {
            align-self: start;
        }

        &-left {
            grid-row: 2 / 4;
        }

        &-right-up {
            grid-row: 2 / 3;
        }

        &-right-down {
            grid-column: 7 / span 6;
            grid-row: 3 / 4;
        }
    }

    &__form {
        padding-bottom: 3rem;
    }

    &__form-input-row {
        &:not(:last-child) {
            margin-bottom: 4rem;
        }
    }

    &__form-label {
        display: block;
        margin-bottom: .6rem;
    }

    &__form-input {
        width: 100%;
        border: none;
        border-bottom: 3px solid $primary-color;
        background-color: transparent;
        padding: .8rem 0rem;
        color: rgba($color-black, 0.7);
        font-size: 1.7rem;
        font-family: $primary-font-family;

        &:focus {
            outline: none;
            color: #fff;
        }
    }

    &__list {
        list-style-type: none;
    }

    &__list-item {
        &:not(:last-child) {
            margin-bottom: 1.7rem;
        }

        &--social-media {
            img {
                cursor: pointer;
                width: 3rem;
                display: inline-block;
                margin-right: 1.5rem;
                transition: all .2s;
                &:nth-child(4) {
                    width: 3.3rem;
                }
                &:hover {
                    transform: scale(1.08);
                }
            }
        }
    }
}